.primary-btn{
    background-color: 
    #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

/* Header Style */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

.banner, main, footer{
    margin: 0px 240px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2{
    font-size: 45px;
    color: #131313;
    font-weight: 700;
}
.nav-menu ul{
    display: flex;
    gap: 50px;
}
.nav-menu ul li{
    list-style: none;
}
.nav-menu ul li a{
    color: #424242;
    text-decoration: none;
}


.banner-container {
    text-align: center;
}
.banner-content{
    padding: 0 100px;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}
.banner-description{
    color: #727272;
    margin-bottom: 20px;
}
.banner-container img{
    margin: 20px 0;
    width: 100%;
}

/* Quick list of Features Style */
.features-list{
    
    display: flex;
    align-items: center;
    padding: 80px 20px;
}
.features-teams{
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.team img{
    width: 100%;
    
}
.features-content{
    width: 40vw;
    padding: 0 40px;
}
.features-title{
    font-size: 45px;
    color: #727272;
    margin-bottom: 20px;
}
.features-title .dark-black{
    color: #131313;
}
.features-title .orange{
    color:#FF900E;
}
.features-description{
    color: #727272;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Enjoying and Loving Features Style */

.architect-features .features{
    display: flex;
}
.architect-features-content{
    width: 50vw;
    margin-right: 80px;
}
.architect-features-title{
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding: 0 70px 0 20px;
    margin: 20px 0;
}
.architect-features-description{
    color: #727272;
}
.card{
    
    margin: 10px 0;
    border-radius: 10px; 
    box-shadow: 10px 10px 5px whitesmoke; 
}
.single-feature{
    padding: 1px 20px;
}
.single-feature-title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}
.single-feature-description{
    color: #727272;
    font-size: 16px;
    margin: 0 0 10px 0;
}
.architect-features-side-image{
    width: 50vw;
}
.architect-features-side-image img{
    width: 100%;
}
.experience-cell{
    position: relative;
    top: -90px;
    left: -50px;
    background-color: #FF900E;
    border-radius: 10px;
    width: 250px;

}
.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
}
.experience .big-font{
    font-size: 55px; 
}


/* Facts Style */
.facts-card{
    display: flex;
    justify-content: space-around
}
.fact-single-card{
    height: 200px;
    width: 200px;
    border: 2px solid #FF900E;
    border-radius: 5px;
    text-align: center;
}
.fact-single-card img{
   padding-top: 35px; 
}
.fact-single-card .number{
    font-size: 40             px;
    font-weight: 700;
    margin: 0;
}

/* sponsor style */
.sponsors-companies{
    display: flex;
    justify-content: space-between;
}
.company{
    width: 150px;
    height: 50px;
}
.company img{
    width: 100%;
}


@media screen and (min-width: 768px) and (max-width:991px) {
    .banner, main, footer{
        margin: 0px 0px;
    }
}
@media screen and (min-width: 992px) and (max-width:1200px) {
    .banner, main, footer{
        margin: 0px 50px;
        
    }
}
@media screen and (min-width: 1201px) and (max-width:1400px) {
    .banner, main, footer{
        margin: 0px 50px;
        
    }
}

